body{
    background-color: #F6C0C4;
    padding-left: 1em;
    padding-right:1em;
    overflow: scroll;
  position: relative;
}

p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

h2{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
}

masthead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
    color: black;
    margin-bottom: 1em;

    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  }
  
  masthead h1 {
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  masthead img {
    display: inline-block;
    align-self: center;
    width: auto;
    height: 2.5em;
    margin-right: .5em;
  }
  
  masthead ul {
    padding-inline-start: 0;
  }
  
  masthead li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  masthead a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
  }
  
  masthead a:hover {
    color: #CF5F5F;
  }


  .intro{
    margin-top:8em;
    margin-bottom:25em;
    h2{
        color: #CF5F5F;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-size: 50px;
        font-weight: 700;
        font-style: normal;
    }
    h1{
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-size: 70px;
      font-weight: 400;
      font-style: normal;
    }
    p{
      width: 50%;
    }
  }

  hr {
    border: none;
    border-top: 7px dashed #ACD1AC;
    color: #fff;
    background-color: none;
    height: 1px;
    width: 100%;
  }

  /* main */
  .section{
    background-color: #FFD6D9;
    border-radius: 5px;
    margin-bottom:1em;
    padding-left: 1em;

    font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-size: 50;
        font-weight: 400;
        font-style: regular;
  }

#content {
    display: grid;
    grid-template-columns: 2fr .75fr;
    gap: 2em;
    margin-bottom: 1em;
    color: black;
  }

  

  .main-container{
    width: 100%;
    height: auto;
    display: block;
    margin-right: 1em;
    font-family: "Outfit", sans-serif;
    background-color: white;
}

  .video-container video{
    width:49%;
    height:auto;
    display: block;
    padding: 5px;
    margin: 24%;
    margin-top:0;
    margin-bottom:0;
  }

  .video-container{
    position: relative;
    
  }

  .video-container .hover-text{
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    width: 95%;
    height: auto;
    display: block;
    margin-right: 2em;
    transform: translate(calc(-50% ), -50%);
    background: white;
    padding: 10px;
    /*box-shadow: 4px 4px 50px -4px black;*/
    opacity: 0;
    transition: all 400ms ease;
  }

  .video-container .hover-text.active{
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .post {
    position: sticky;
    position: -webkit-sticky;
    top:2rem;
    width: 300px;
    margin-bottom: 1em;
    background-color: #FFD6D9;
    padding: .75em;
    padding-top: 2px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    h2{
        padding-bottom: 0;
        margin: 5px;
        font-size: 25px;
        font-weight:400;
        color: #CF5F5F;
    }
    .img-container {
      aspect-ratio: 1/1;
    }
    p {
      margin-top: 0;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      margin-right: 1em;
    }

    .accordion {
        background-color: #FFD6D9;
        color: #444;
        cursor: pointer;
        padding: 18px;
        text-align: left;
        width:100%;
        border: .5px solid #777;
        outline: none;
        transition: 0.4s;
        img{
          margin:0px;
          display:block;
          float:left;
          height: 22px;
        }
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
      }

      a{
        color: #444;; 
        background-color: transparent; 
        text-decoration: none;
      }
      a:hover {
        color: #CF5F5F;
        text-decoration: underline;

      }
      a:active {
        color: #b93e3e;
      }

      .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }
      
      /*background color when clicked or hover*/
      .active, .accordion:hover {
        background-color: #e48282;
      }

      .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
      }
      .panel {
        background-color: #FFD6D9;
        display: none;
        overflow: hidden;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
      }
    }
  
  .big-post {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    background-color: #ACD1AC;
    padding: .75em;
    margin: 0px;
    padding:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    .img-container {
      aspect-ratio: 4/3;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
    h2{
        color:white;
        font-size: 40px;
        font-weight:400;
        margin:5px;
    }
  }
  
  .post:last-child, .big-post:last-child {
    margin-bottom: 0;
  }

  /* media queries */
@media only screen and (max-width: 768px) {
  
    body {
      font-size: 16px;
    }
  
    masthead {
      text-align: center;
      flex-flow: column nowrap;
    }
    masthead ul {
      margin-bottom: 0;
    }
    masthead h1 {
      margin-right: 0;
    }
    masthead img {
      margin-right: 0;
    }

    #content {
        padding: 1em;
        gap: 1em;
        grid-template-columns: 1fr;
      }
      .main {
        order: 1;
      }
      .sidebar {
        order: 2;
      }
  
  }